@import url('https://fonts.cdnfonts.com/css/tragic-brk');

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(185, 185, 185);
}

#title{
    font-family: 'TRAGIC BRK', sans-serif;
}

.sketchpad-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.sketchpad {
    display: flex;
    flex-wrap: wrap;
    border: 50px inset rgb(196, 1, 1);
    border-radius: 20px;
    width: 500px;
    height: 500px;
    margin: 0 50px 50px 50px;
}

.box {
    box-sizing: border-box;
    background-color: white;
    border: .1px solid rgb(211, 211, 211);
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#erase-btn,
#rand-btn,
#black-btn,
#resize-btn {
    border-radius: 10px;
    border: groove;
    padding: 6px;
    font-family: 'TRAGIC BRK', sans-serif;;
}

#erase-btn:hover,
#rand-btn:hover,
#black-btn:hover,
#resize-btn:hover{
    background-color: rgb(230, 156, 244);
}