@import url('https://fonts.cdnfonts.com/css/tragic-brk');

* {
    padding: 0;
    margin: 0;
}

html, body {
    /* width: 80%; */
    height: 100%;
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(250, 160, 238), rgb(163, 227, 254));
    padding: 20px;
}

#title {
    font-family: 'TRAGIC BRK', sans-serif;
    color: rgb(0, 0, 0);
}

.sketchpad-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.sketchpad {
    display: flex;
    flex-wrap: wrap;
    border: 30px solid rgb(148, 0, 139);
    border-radius: 20px;
    width: 400px;
    height: 400px;
    margin: 0 50px 50px 50px;
}

.box {
    box-sizing: border-box;
    background-color: white;
    border: .1px solid rgb(211, 211, 211);
}

.btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#erase-btn,
#rand-btn,
#black-btn,
#resize-btn,
#reset-btn {
    border-radius: 10px;
    border: 4px groove;
    padding: 6px;
    font-family: 'TRAGIC BRK', sans-serif;
    font-size: 10px;
}

#erase-btn:hover,
#rand-btn:hover,
#black-btn:hover,
#resize-btn:hover,
#reset-btn:hover {
    background-color: rgb(250, 160, 160);
}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .btns {
        flex-direction: column;
    }

    #erase-btn,
    #rand-btn,
    #black-btn,
    #resize-btn,
    #reset-btn {
        font-size: 12px;
    }

}