* {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    font-family: Roboto, sans-serif;
}

.flexbox-grid{
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto;
    background-color: rgb(255, 255, 255);
    
}

.box{
    border: 1px solid rgb(211, 211, 211);
}


